.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
.yardoc/
public/assets/
config/database.yml
config/istar.yml
config/redis.yml
config/secrets.yml
wiki/
public/uploads/*
public/uploads
public/qrcode/
public/assets/
public/fonts/
.redcar
.DS_Store
*.swp
*.swo
*.sublime-workspace
.rvmrc
vendor/ruby
doc/wiki_repo
tags
chromedriver.log
.idea/
spec/examples.txt
.vagrant
.byebug_history
.ruby-version
.sh/
docs_build.sh
node_modules/
result.txt
/.vscode/
yarn.lock
