/.bundle
/log/*
!/log/.keep
.DS_Store
.ruby-version
.rvmrc
.sass-cache/
db/*.sqlite3
log/*
tmp/*
uploads/*
test/
wiki/
public/uploads/*
config/database.yml
config/email.yml
config/setting.yml
config/secrets.yml
config/deploy.rb
db/data.yml
db/schema.rb
/nbproject
.idea/
current
releases/
repo/
revisions.log
shared/
db/schema.rb
