.bundle
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
!/log/.keep
!/tmp/.keep
.byebug_history
app/assets/webpack/
client/
public/uploads/*
public/qrcode/
public/assets/
public/fonts/
config/database.yml
config/setting.yml
config/settings.yml
config/newrelic.yml
db/data.yml
db/schema.rb
current
releases/
repo/
revisions.log
shared/
app/docs/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
