<div class="pull-right visible-md-block visible-lg-block">
	<div class="btn-group">
		<button type="button" data-toggle="dropdown" class="btn btn-default" aria-expanded="false">Language/语言</button>
		<ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
			<li>
				<a href="<%= login_url(locale: "en")%>">English </a>
			</li>
			<li>
			 	<a href="<%= login_url(locale: "zh-hans")%>">中文</a>
			</li>
		</ul>
	</div>
</div>