<p>Dear <%= @user.name %>:</p>
<p>Please use the following URL to reset your Ran password ,<%= Setting.reset_password_expire_hour %>Effective hours.:</p>
<p><%= link_to "Change my password", edit_password_reset_url(@user.reset_password_token) %><p>
<p>If you can't see the connection, please copy the following connection and then open it in the browser:</p>
<p><%= edit_password_reset_url(@user.reset_password_token) %></p>
<p>If you did not submit a request to reset your password, please ignore this email.
Your current password is still valid.</p>

