<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_qingting_program.name %>
</p>

<%= link_to 'Edit', edit_api_v1_qingting_program_path(@api_v1_qingting_program) %> |
<%= link_to 'Back', api_v1_qingting_programs_path %>
