<div class="simplelineicons-demo">


    <span class="item-box">
        <i class="icon-user icons"> &nbsp; .icon-user</i></a>

    </span>
    <span class="item-box">
        <i class="icon-people icons"> &nbsp; .icon-people</i></a>

    </span>
    <span class="item-box">
        <i class="icon-user-female icons"> &nbsp; .icon-user-female</i></a>

    </span>
    <span class="item-box">
        <i class="icon-user-follow icons"> &nbsp; .icon-user-follow</i></a>

    </span>
    <span class="item-box">
        <i class="icon-user-following icons"> &nbsp; .icon-user-following</i></a>

    </span>
    <span class="item-box">
        <i class="icon-user-unfollow icons"> &nbsp; .icon-user-unfollow</i></a>

    </span>
    <span class="item-box">
        <i class="icon-login icons"> &nbsp; .icon-login</i></a>

    </span>
    <span class="item-box">
        <i class="icon-logout icons"> &nbsp; .icon-logout</i></a>

    </span>
    <span class="item-box">
        <i class="icon-emotsmile icons"> &nbsp; .icon-emotsmile</i></a>

    </span>
    <span class="item-box">
        <i class="icon-phone icons"> &nbsp; .icon-phone</i></a>

    </span>
    <span class="item-box">
        <i class="icon-call-end icons"> &nbsp; .icon-call-end</i></a>

    </span>
    <span class="item-box">
        <i class="icon-call-in icons"> &nbsp; .icon-call-in</i></a>

    </span>
    <span class="item-box">
        <i class="icon-call-out icons"> &nbsp; .icon-call-out</i></a>

    </span>
    <span class="item-box">
        <i class="icon-map icons"> &nbsp; .icon-map</i></a>

    </span>
    <span class="item-box">
        <i class="icon-location-pin icons"> &nbsp; .icon-location-pin</i></a>

    </span>
    <span class="item-box">
        <i class="icon-direction icons"> &nbsp; .icon-direction</i></a>

    </span>
    <span class="item-box">
        <i class="icon-directions icons"> &nbsp; .icon-directions</i></a>

    </span>
    <span class="item-box">
        <i class="icon-compass icons"> &nbsp; .icon-compass</i></a>

    </span>
    <span class="item-box">
        <i class="icon-layers icons"> &nbsp; .icon-layers</i></a>

    </span>
    <span class="item-box">
        <i class="icon-menu icons"> &nbsp; .icon-menu</i></a>

    </span>
    <span class="item-box">
        <i class="icon-list icons"> &nbsp; .icon-list</i></a>

    </span>
    <span class="item-box">
        <i class="icon-options-vertical icons"> &nbsp; .icon-options-vertical</i></a>

    </span>
    <span class="item-box">
        <i class="icon-options icons"> &nbsp; .icon-options</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-down icons"> &nbsp; .icon-arrow-down</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-left icons"> &nbsp; .icon-arrow-left</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-right icons"> &nbsp; .icon-arrow-right</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-up icons"> &nbsp; .icon-arrow-up</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-up-circle icons"> &nbsp; .icon-arrow-up-cii</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-left-circle icons"> &nbsp; .icon-arrow-left-cii</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-right-circle icons"> &nbsp; .icon-arrow-right-cii</i></a>

    </span>
    <span class="item-box">
        <i class="icon-arrow-down-circle icons"> &nbsp; .icon-arrow-down-cii</i></a>

    </span>
    <span class="item-box">
        <i class="icon-check icons"> &nbsp; .icon-check</i></a>

    </span>
    <span class="item-box">
        <i class="icon-clock icons"> &nbsp; .icon-clock</i></a>

    </span>
    <span class="item-box">
        <i class="icon-plus icons"> &nbsp; .icon-plus</i></a>

    </span>
    <span class="item-box">
        <i class="icon-minus icons"> &nbsp; .icon-minus</i></a>

    </span>
    <span class="item-box">
        <i class="icon-close icons"> &nbsp; .icon-close</i></a>

    </span>
    <span class="item-box">
        <i class="icon-event icons"> &nbsp; .icon-event</i></a>

    </span>
    <span class="item-box">
        <i class="icon-exclamation icons"> &nbsp; .icon-exclamation</i></a>

    </span>
    <span class="item-box">
        <i class="icon-organization icons"> &nbsp; .icon-organization</i></a>

    </span>
    <span class="item-box">
        <i class="icon-trophy icons"> &nbsp; .icon-trophy</i></a>

    </span>
    <span class="item-box">
        <i class="icon-screen-smartphone icons"> &nbsp; .icon-screen-smartphone</i></a>

    </span>
    <span class="item-box">
        <i class="icon-screen-desktop icons"> &nbsp; .icon-screen-desktop</i></a>

    </span>
    <span class="item-box">
        <i class="icon-plane icons"> &nbsp; .icon-plane</i></a>

    </span>
    <span class="item-box">
        <i class="icon-notebook icons"> &nbsp; .icon-notebook</i></a>

    </span>
    <span class="item-box">
        <i class="icon-mustache icons"> &nbsp; .icon-mustache</i></a>

    </span>
    <span class="item-box">
        <i class="icon-mouse icons"> &nbsp; .icon-mouse</i></a>

    </span>
    <span class="item-box">
        <i class="icon-magnet icons"> &nbsp; .icon-magnet</i></a>

    </span>
    <span class="item-box">
        <i class="icon-energy icons"> &nbsp; .icon-energy</i></a>

    </span>
    <span class="item-box">
        <i class="icon-disc icons"> &nbsp; .icon-disc</i></a>

    </span>
    <span class="item-box">
        <i class="icon-cursor icons"> &nbsp; .icon-cursor</i></a>

    </span>
    <span class="item-box">
        <i class="icon-cursor-move icons"> &nbsp; .icon-cursor-move</i></a>

    </span>
    <span class="item-box">
        <i class="icon-crop icons"> &nbsp; .icon-crop</i></a>

    </span>
    <span class="item-box">
        <i class="icon-chemistry icons"> &nbsp; .icon-chemistry</i></a>

    </span>
    <span class="item-box">
        <i class="icon-speedometer icons"> &nbsp; .icon-speedometer</i></a>

    </span>
    <span class="item-box">
        <i class="icon-shield icons"> &nbsp; .icon-shield</i></a>

    </span>
    <span class="item-box">
        <i class="icon-screen-tablet icons"> &nbsp; .icon-screen-tablet</i></a>

    </span>
    <span class="item-box">
        <i class="icon-magic-wand icons"> &nbsp; .icon-magic-wand</i></a>

    </span>
    <span class="item-box">
        <i class="icon-hourglass icons"> &nbsp; .icon-hourglass</i></a>

    </span>
    <span class="item-box">
        <i class="icon-graduation icons"> &nbsp; .icon-graduation</i></a>

    </span>
    <span class="item-box">
        <i class="icon-ghost icons"> &nbsp; .icon-ghost</i></a>

    </span>
    <span class="item-box">
        <i class="icon-game-controller icons"> &nbsp; .icon-game-controller</i></a>

    </span>
    <span class="item-box">
        <i class="icon-fire icons"> &nbsp; .icon-fire</i></a>

    </span>
    <span class="item-box">
        <i class="icon-eyeglass icons"> &nbsp; .icon-eyeglass</i></a>

    </span>
    <span class="item-box">
        <i class="icon-envelope-open icons"> &nbsp; .icon-envelope-open</i></a>

    </span>
    <span class="item-box">
        <i class="icon-envelope-letter icons"> &nbsp; .icon-envelope-letter</i></a>

    </span>
    <span class="item-box">
        <i class="icon-bell icons"> &nbsp; .icon-bell</i></a>

    </span>
    <span class="item-box">
        <i class="icon-badge icons"> &nbsp; .icon-badge</i></a>

    </span>
    <span class="item-box">
        <i class="icon-anchor icons"> &nbsp; .icon-anchor</i></a>

    </span>
    <span class="item-box">
        <i class="icon-wallet icons"> &nbsp; .icon-wallet</i></a>

    </span>
    <span class="item-box">
        <i class="icon-vector icons"> &nbsp; .icon-vector</i></a>

    </span>
    <span class="item-box">
        <i class="icon-speech icons"> &nbsp; .icon-speech</i></a>

    </span>
    <span class="item-box">
        <i class="icon-puzzle icons"> &nbsp; .icon-puzzle</i></a>

    </span>
    <span class="item-box">
        <i class="icon-printer icons"> &nbsp; .icon-printer</i></a>

    </span>
    <span class="item-box">
        <i class="icon-present icons"> &nbsp; .icon-present</i></a>

    </span>
    <span class="item-box">
        <i class="icon-playlist icons"> &nbsp; .icon-playlist</i></a>

    </span>
    <span class="item-box">
        <i class="icon-pin icons"> &nbsp; .icon-pin</i></a>

    </span>
    <span class="item-box">
        <i class="icon-picture icons"> &nbsp; .icon-picture</i></a>

    </span>
    <span class="item-box">
        <i class="icon-handbag icons"> &nbsp; .icon-handbag</i></a>

    </span>
    <span class="item-box">
        <i class="icon-globe-alt icons"> &nbsp; .icon-globe-alt</i></a>

    </span>
    <span class="item-box">
        <i class="icon-globe icons"> &nbsp; .icon-globe</i></a>

    </span>
    <span class="item-box">
        <i class="icon-folder-alt icons"> &nbsp; .icon-folder-alt</i></a>

    </span>
    <span class="item-box">
        <i class="icon-folder icons"> &nbsp; .icon-folder</i></a>

    </span>
    <span class="item-box">
        <i class="icon-film icons"> &nbsp; .icon-film</i></a>

    </span>
    <span class="item-box">
        <i class="icon-feed icons"> &nbsp; .icon-feed</i></a>

    </span>
    <span class="item-box">
        <i class="icon-drop icons"> &nbsp; .icon-drop</i></a>

    </span>
    <span class="item-box">
        <i class="icon-drawer icons"> &nbsp; .icon-drawer</i></a>

    </span>
    <span class="item-box">
        <i class="icon-docs icons"> &nbsp; .icon-docs</i></a>

    </span>
    <span class="item-box">
        <i class="icon-doc icons"> &nbsp; .icon-doc</i></a>

    </span>
    <span class="item-box">
        <i class="icon-diamond icons"> &nbsp; .icon-diamond</i></a>

    </span>
    <span class="item-box">
        <i class="icon-cup icons"> &nbsp; .icon-cup</i></a>

    </span>
    <span class="item-box">
        <i class="icon-calculator icons"> &nbsp; .icon-calculator</i></a>

    </span>
    <span class="item-box">
        <i class="icon-bubbles icons"> &nbsp; .icon-bubbles</i></a>

    </span>
    <span class="item-box">
        <i class="icon-briefcase icons"> &nbsp; .icon-briefcase</i></a>

    </span>
    <span class="item-box">
        <i class="icon-book-open icons"> &nbsp; .icon-book-open</i></a>

    </span>
    <span class="item-box">
        <i class="icon-basket-loaded icons"> &nbsp; .icon-basket-loaded</i></a>

    </span>
    <span class="item-box">
        <i class="icon-basket icons"> &nbsp; .icon-basket</i></a>

    </span>
    <span class="item-box">
        <i class="icon-bag icons"> &nbsp; .icon-bag</i></a>

    </span>
    <span class="item-box">
        <i class="icon-action-undo icons"> &nbsp; .icon-action-undo</i></a>

    </span>
    <span class="item-box">
        <i class="icon-action-redo icons"> &nbsp; .icon-action-redo</i></a>

    </span>
    <span class="item-box">
        <i class="icon-wrench icons"> &nbsp; .icon-wrench</i></a>

    </span>
    <span class="item-box">
        <i class="icon-umbrella icons"> &nbsp; .icon-umbrella</i></a>

    </span>
    <span class="item-box">
        <i class="icon-trash icons"> &nbsp; .icon-trash</i></a>

    </span>
    <span class="item-box">
        <i class="icon-tag icons"> &nbsp; .icon-tag</i></a>

    </span>
    <span class="item-box">
        <i class="icon-support icons"> &nbsp; .icon-support</i></a>

    </span>
    <span class="item-box">
        <i class="icon-frame icons"> &nbsp; .icon-frame</i></a>

    </span>
    <span class="item-box">
        <i class="icon-size-fullscreen icons"> &nbsp; .icon-size-fullscreen</i></a>

    </span>
    <span class="item-box">
        <i class="icon-size-actual icons"> &nbsp; .icon-size-actual</i></a>

    </span>
    <span class="item-box">
        <i class="icon-shuffle icons"> &nbsp; .icon-shuffle</i></a>

    </span>
    <span class="item-box">
        <i class="icon-share-alt icons"> &nbsp; .icon-share-alt</i></a>

    </span>
    <span class="item-box">
        <i class="icon-share icons"> &nbsp; .icon-share</i></a>

    </span>
    <span class="item-box">
        <i class="icon-rocket icons"> &nbsp; .icon-rocket</i></a>

    </span>
    <span class="item-box">
        <i class="icon-question icons"> &nbsp; .icon-question</i></a>

    </span>
    <span class="item-box">
        <i class="icon-pie-chart icons"> &nbsp; .icon-pie-chart</i></a>

    </span>
    <span class="item-box">
        <i class="icon-pencil icons"> &nbsp; .icon-pencil</i></a>

    </span>
    <span class="item-box">
        <i class="icon-note icons"> &nbsp; .icon-note</i></a>

    </span>
    <span class="item-box">
        <i class="icon-loop icons"> &nbsp; .icon-loop</i></a>

    </span>
    <span class="item-box">
        <i class="icon-home icons"> &nbsp; .icon-home</i></a>

    </span>
    <span class="item-box">
        <i class="icon-grid icons"> &nbsp; .icon-grid</i></a>

    </span>
    <span class="item-box">
        <i class="icon-graph icons"> &nbsp; .icon-graph</i></a>

    </span>
    <span class="item-box">
        <i class="icon-microphone icons"> &nbsp; .icon-microphone</i></a>

    </span>
    <span class="item-box">
        <i class="icon-music-tone-alt icons"> &nbsp; .icon-music-tonei</i></a>

    </span>
    <span class="item-box">
        <i class="icon-music-tone icons"> &nbsp; .icon-music-tone</i></a>

    </span>
    <span class="item-box">
        <i class="icon-earphones-alt icons"> &nbsp; .icon-earphones-alt</i></a>

    </span>
    <span class="item-box">
        <i class="icon-earphones icons"> &nbsp; .icon-earphones</i></a>

    </span>
    <span class="item-box">
        <i class="icon-equalizer icons"> &nbsp; .icon-equalizer</i></a>

    </span>
    <span class="item-box">
        <i class="icon-like icons"> &nbsp; .icon-like</i></a>

    </span>
    <span class="item-box">
        <i class="icon-dislike icons"> &nbsp; .icon-dislike</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-start icons"> &nbsp; .icon-control-start</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-rewind icons"> &nbsp; .icon-control-rewind</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-play icons"> &nbsp; .icon-control-play</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-pause icons"> &nbsp; .icon-control-pause</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-forward icons"> &nbsp; .icon-control-forward</i></a>

    </span>
    <span class="item-box">
        <i class="icon-control-end icons"> &nbsp; .icon-control-end</i></a>

    </span>
    <span class="item-box">
        <i class="icon-volume-1 icons"> &nbsp; .icon-volume-1</i></a>

    </span>
    <span class="item-box">
        <i class="icon-volume-2 icons"> &nbsp; .icon-volume-2</i></a>

    </span>
    <span class="item-box">
        <i class="icon-volume-off icons"> &nbsp; .icon-volume-off</i></a>

    </span>
    <span class="item-box">
        <i class="icon-calendar icons"> &nbsp; .icon-calendar</i></a>

    </span>
    <span class="item-box">
        <i class="icon-bulb icons"> &nbsp; .icon-bulb</i></a>

    </span>
    <span class="item-box">
        <i class="icon-chart icons"> &nbsp; .icon-chart</i></a>

    </span>
    <span class="item-box">
        <i class="icon-ban icons"> &nbsp; .icon-ban</i></a>

    </span>
    <span class="item-box">
        <i class="icon-bubble icons"> &nbsp; .icon-bubble</i></a>

    </span>
    <span class="item-box">
        <i class="icon-camrecorder icons"> &nbsp; .icon-camrecorder</i></a>

    </span>
    <span class="item-box">
        <i class="icon-camera icons"> &nbsp; .icon-camera</i></a>

    </span>
    <span class="item-box">
        <i class="icon-cloud-download icons"> &nbsp; .icon-cloud-download</i></a>

    </span>
    <span class="item-box">
        <i class="icon-cloud-upload icons"> &nbsp; .icon-cloud-upload</i></a>

    </span>
    <span class="item-box">
        <i class="icon-envelope icons"> &nbsp; .icon-envelope</i></a>

    </span>
    <span class="item-box">
        <i class="icon-eye icons"> &nbsp; .icon-eye</i></a>

    </span>
    <span class="item-box">
        <i class="icon-flag icons"> &nbsp; .icon-flag</i></a>

    </span>
    <span class="item-box">
        <i class="icon-heart icons"> &nbsp; .icon-heart</i></a>

    </span>
    <span class="item-box">
        <i class="icon-info icons"> &nbsp; .icon-info</i></a>

    </span>
    <span class="item-box">
        <i class="icon-key icons"> &nbsp; .icon-key</i></a>

    </span>
    <span class="item-box">
        <i class="icon-link icons"> &nbsp; .icon-link</i></a>

    </span>
    <span class="item-box">
        <i class="icon-lock icons"> &nbsp; .icon-lock</i></a>

    </span>
    <span class="item-box">
        <i class="icon-lock-open icons"> &nbsp; .icon-lock-open</i></a>

    </span>
    <span class="item-box">
        <i class="icon-magnifier icons"> &nbsp; .icon-magnifier</i></a>

    </span>
    <span class="item-box">
        <i class="icon-magnifier-add icons"> &nbsp; .icon-magnifier-add</i></a>

    </span>
    <span class="item-box">
        <i class="icon-magnifier-remove icons"> &nbsp; .icon-magnifier-remove</i></a>

    </span>
    <span class="item-box">
        <i class="icon-paper-clip icons"> &nbsp; .icon-paper-clip</i></a>

    </span>
    <span class="item-box">
        <i class="icon-paper-plane icons"> &nbsp; .icon-paper-plane</i></a>

    </span>
    <span class="item-box">
        <i class="icon-power icons"> &nbsp; .icon-power</i></a>

    </span>
    <span class="item-box">
        <i class="icon-refresh icons"> &nbsp; .icon-refresh</i></a>

    </span>
    <span class="item-box">
        <i class="icon-reload icons"> &nbsp; .icon-reload</i></a>

    </span>
    <span class="item-box">
        <i class="icon-settings icons"> &nbsp; .icon-settings</i></a>

    </span>
    <span class="item-box">
        <i class="icon-star icons"> &nbsp; .icon-star</i></a>

    </span>
    <span class="item-box">
        <i class="icon-symbol-female icons"> &nbsp; .icon-symbol-female</i></a>

    </span>
    <span class="item-box">
        <i class="icon-symbol-male icons"> &nbsp; .icon-symbol-male</i></a>

    </span>
    <span class="item-box">
        <i class="icon-target icons"> &nbsp; .icon-target</i></a>

    </span>
    <span class="item-box">
        <i class="icon-credit-card icons"> &nbsp; .icon-credit-card</i></a>

    </span>
    <span class="item-box">
        <i class="icon-paypal icons"> &nbsp; .icon-paypal</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-tumblr icons"> &nbsp; .icon-social-tumblr</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-twitter icons"> &nbsp; .icon-social-twitter</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-facebook icons"> &nbsp; .icon-social-facebook</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-instagram icons"> &nbsp; .icon-social-instagram</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-linkedin icons"> &nbsp; .icon-social-linkedin</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-pinterest icons"> &nbsp; .icon-social-pinterest</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-github icons"> &nbsp; .icon-social-github</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-google icons"> &nbsp; .icon-social-google</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-reddit icons"> &nbsp; .icon-social-reddit</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-skype icons"> &nbsp; .icon-social-skype</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-dribbble icons"> &nbsp; .icon-social-dribbble</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-behance icons"> &nbsp; .icon-social-behance</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-foursqare icons"> &nbsp; .icon-social-foursqare</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-soundcloud icons"> &nbsp; .icon-social-soundcloud</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-spotify icons"> &nbsp; .icon-social-spotify</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-stumbleupon icons"> &nbsp; .icon-social-stumbleupon</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-youtube icons"> &nbsp; .icon-social-youtube</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-dropbox icons"> &nbsp; .icon-social-dropbox</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-vkontakte icons"> &nbsp; .icon-social-vkontakte</i></a>

    </span>
    <span class="item-box">
        <i class="icon-social-steam icons"> &nbsp; .icon-social-steam</i></a>

    </span>
</div>