default: &default
  adapter: postgresql
  pool: 32
  timeout: 5000
  encoding: utf-8
  host: localhost
  port: 5432
  username: root
  password: 123123123

production:
  <<: *default
  database: ran

development:
  <<: *default
  database: ran-dev

test:
  <<: *default
  database: ran-test
