defaults: &defaults
# base config
  app_name: "iStar"
  host_name: localhost:3000
  protocol: http

# mail config
  mailer_sender: 'username@hostname.com'
  mailer_sender_display_name: iStar

  email_reply_to: noreply@example.com
  email_subject_suffix: ''


  email_delivery:
    delivery_method: :smtp #sendmail
    smtp_settings:
      address: "smtp.hostname.com"
      port: 25
      domain: "hostname.com"
      authentication: :login
      user_name: "username@hostname.com"
      password: "userpassword"

  omniauth_modules: "github,weibo"

  github_token: xxx
  github_secret: xxx

  weibo_token: xxx
  weibo_secret: xxx


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
