site_configs: &site_configs

defaults: &defaults
  <<: *site_configs
  # qiniu - file storage, http://www.qiniu.com/
  qiniu_access_key: "your_access_key"
  qiniu_secret_key: "your_secret_key"
  qiniu_bucket: "xxxx"
  qiniu_bucket_domain: "xxxx"
  qiniu_block_size: "4*1024*1024"
  qiniu_protocal: "http"
  # pusher - message really time push, https://pusher.com
  pusher_app_id: 'your_pusher_id'
  pusher_key: 'xxxxx'
  pusher_secret: 'xxxx'
  my_web: "http://cheenwe.cn"
  me: "cheenwe"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
