defaults: &defaults
  app_name: "Ran"
  domain: "cheenwe.cn"
  my_domain_url: "cheenwe.cn"
  admin_email: "cheenwe@163.com"
  mail_token_expire_hour: 3
  max_login_failure_attempts: 5
  login_failure_lock_minute: 15

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
