<h3>Colors
   <small>Color swatches</small>
</h3>
<div class="panel panel-default">
   <div class="panel-body">
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-primary-light">.bg-primary-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-primary">.bg-primary</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-primary-dark">.bg-primary-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-success-light">.bg-success-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-success">.bg-success</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-success-dark">.bg-success-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-info-light">.bg-info-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-info">.bg-info</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-info-dark">.bg-info-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-warning-light">.bg-warning-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-warning">.bg-warning</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-warning-dark">.bg-warning-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-danger-light">.bg-danger-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-danger">.bg-danger</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-danger-dark">.bg-danger-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-inverse-light">.bg-inverse-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-inverse">.bg-inverse</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-inverse-dark">.bg-inverse-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-green-light">.bg-green-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-green">.bg-green</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-green-dark">.bg-green-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-pink-light">.bg-pink-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-pink">.bg-pink</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-pink-dark">.bg-pink-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-purple-light">.bg-purple-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-purple">.bg-purple</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-purple-dark">.bg-purple-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-yellow-light">.bg-yellow-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-yellow">.bg-yellow</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-yellow-dark">.bg-yellow-dark</div>
         </div>
      </div>
      <div class="table-grid">
         <div class="col">
            <div class="box-placeholder b0 bg-gray-darker">.bg-gray-darker</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-dark">.bg-gray-dark</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray">.bg-gray</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-light">.bg-gray-light</div>
         </div>
         <div class="col">
            <div class="box-placeholder b0 bg-gray-lighter">.bg-gray-lighter</div>
         </div>
      </div>
   </div>
</div>


<h3>Buttons</h3>
<!-- START row-->
<div class="row">
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button colors</h3>
         </div>
         <div class="panel-body">
            <button type="button" class="mb-sm btn btn-default">Default</button>
            <button type="button" class="mb-sm btn btn-primary">Primary</button>
            <button type="button" class="mb-sm btn btn-success">Success</button>
            <button type="button" class="mb-sm btn btn-info">Info</button>
            <button type="button" class="mb-sm btn btn-warning">Warning</button>
            <button type="button" class="mb-sm btn btn-danger">Danger</button>
            <button type="button" class="mb-sm btn btn-inverse">Inverse</button>
            <button type="button" class="mb-sm btn btn-green">Green</button>
            <button type="button" class="mb-sm btn btn-purple">Purple</button>
            <button type="button" class="mb-sm btn btn-pink">Pink</button>
            <br/>
            <br/><a href="#" class="btn btn-link">Button Link</a>
            <button type="button" class="btn btn-default">
               <strong>button tag</strong>
            </button>
            <a href="#" class="btn btn-default">
               <strong>anchor tag</strong>
            </a>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button Labeled</h3>
         </div>
         <div class="panel-body">
            <!-- Success button with label -->
            <button type="button" class="btn btn-labeled btn-success">
               <span class="btn-label"><i class="fa fa-check"></i>
               </span>Success</button>
            <!-- Danger button with label -->
            <button type="button" class="btn btn-labeled btn-danger">
               <span class="btn-label"><i class="fa fa-times"></i>
               </span>Danger</button>
            <!-- Info button with label -->
            <button type="button" class="btn btn-labeled btn-info">
               <span class="btn-label"><i class="fa fa-exclamation"></i>
               </span>Info</button>
            <!-- Warning button with label -->
            <button type="button" class="btn btn-labeled btn-warning">
               <span class="btn-label"><i class="fa fa-warning"></i>
               </span>Warning</button>
            <br/>
            <br/>
            <!-- Standard button with label -->
            <button type="button" class="btn btn-labeled btn-default">
               <span class="btn-label"><i class="fa fa-arrow-left"></i>
               </span>Left</button>
            <!-- Standard button with label on the right side -->
            <button type="button" class="btn btn-labeled btn-default">Right
               <span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i>
               </span>
            </button>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button sizing</h3>
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-6">
                  <p>
                     <button type="button" class="btn btn-primary btn-lg">Large button</button>
                     <button type="button" class="btn btn-default btn-lg">Large button</button>
                  </p>
                  <p>
                     <button type="button" class="btn btn-primary">Default button</button>
                     <button type="button" class="btn btn-default">Default button</button>
                  </p>
               </div>
               <div class="col-lg-6">
                  <p>
                     <button type="button" class="btn btn-primary btn-sm">Small button</button>
                     <button type="button" class="btn btn-default btn-sm">Small button</button>
                  </p>
                  <p>
                     <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                     <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button group</h3>
         </div>
         <div class="panel-body">
            <p></p>
            <div class="btn-group">
               <button type="button" class="btn btn-default">Left</button>
               <button type="button" class="btn btn-default">Middle</button>
               <button type="button" class="btn btn-default">Right</button>
            </div>
            <p></p>
            <p></p>
            <div class="btn-group">
               <button type="button" class="btn btn-default">1</button>
               <button type="button" class="btn btn-default">2</button>
               <button type="button" class="btn btn-default">3</button>
               <button type="button" class="btn btn-default">4</button>
            </div>
            <div class="btn-group">
               <button type="button" class="btn btn-default">5</button>
               <button type="button" class="btn btn-default">6</button>
               <button type="button" class="btn btn-default">7</button>
            </div>
            <div class="btn-group">
               <button type="button" class="btn btn-default">8</button>
            </div>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button Pills</h3>
         </div>
         <div class="panel-body">
            <p>Pill left</p>
            <p>
               <button type="button" class="btn btn-pill-left btn-default">Default</button>
               <button type="button" class="btn btn-pill-left btn-primary">Primary</button>
               <button type="button" class="btn btn-pill-left btn-success">Success</button>
               <button type="button" class="btn btn-pill-left btn-info">Info</button>
               <button type="button" class="btn btn-pill-left btn-warning">Warning</button>
               <button type="button" class="btn btn-pill-left btn-danger">Danger</button>
               <button type="button" class="btn btn-pill-left btn-inverse">Inverse</button>
            </p>
            <p>Pill right</p>
            <p>
               <button type="button" class="btn btn-pill-right btn-default">Default</button>
               <button type="button" class="btn btn-pill-right btn-primary">Primary</button>
               <button type="button" class="btn btn-pill-right btn-success">Success</button>
               <button type="button" class="btn btn-pill-right btn-info">Info</button>
               <button type="button" class="btn btn-pill-right btn-warning">Warning</button>
               <button type="button" class="btn btn-pill-right btn-danger">Danger</button>
               <button type="button" class="btn btn-pill-right btn-inverse">Inverse</button>
            </p>
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button Oval</h3>
         </div>
         <div class="panel-body">
            <button type="button" class="btn btn-oval btn-default">Default</button>
            <button type="button" class="btn btn-oval btn-primary">Primary</button>
            <button type="button" class="btn btn-oval btn-success">Success</button>
            <button type="button" class="btn btn-oval btn-info">Info</button>
            <button type="button" class="btn btn-oval btn-warning">Warning</button>
            <button type="button" class="btn btn-oval btn-danger">Danger</button>
            <button type="button" class="btn btn-oval btn-inverse">Inverse</button>
         </div>
      </div>
      <!-- END panel-->
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button Square</h3>
         </div>
         <div class="panel-body">
            <button type="button" class="btn btn-square btn-default">Default</button>
            <button type="button" class="btn btn-square btn-primary">Primary</button>
            <button type="button" class="btn btn-square btn-success">Success</button>
            <button type="button" class="btn btn-square btn-info">Info</button>
            <button type="button" class="btn btn-square btn-warning">Warning</button>
            <button type="button" class="btn btn-square btn-danger">Danger</button>
            <button type="button" class="btn btn-square btn-inverse">Inverse</button>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Button dropdown</h3>
         </div>
         <div class="panel-body">
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">default
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-primary">primary
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-success">success
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-info">info
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-warning">warning
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-danger">danger
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group mb-sm">
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-inverse">inverse
                  <span class="caret"></span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
         </div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-md-6">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title ellipsis">Split button dropdown</h3>
         </div>
         <div class="panel-body">
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-default">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-default">
                  <span class="caret"></span>
                  <span class="sr-only">default</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-primary">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-primary">
                  <span class="caret"></span>
                  <span class="sr-only">primary</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-success">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-success">
                  <span class="caret"></span>
                  <span class="sr-only">success</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-info">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-info">
                  <span class="caret"></span>
                  <span class="sr-only">info</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-warning">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-warning">
                  <span class="caret"></span>
                  <span class="sr-only">warning</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-danger">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-danger">
                  <span class="caret"></span>
                  <span class="sr-only">danger</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
            <!-- START button group-->
            <div class="btn-group">
               <button type="button" class="btn btn-inverse">Action</button>
               <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-inverse">
                  <span class="caret"></span>
                  <span class="sr-only">inverse</span>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="#">Action</a>
                  </li>
                  <li><a href="#">Another action</a>
                  </li>
                  <li><a href="#">Something else here</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a>
                  </li>
               </ul>
            </div>
            <!-- END button group-->
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Button actions</h3>
   </div>
   <div class="panel-body">
      <!-- START row-->
      <div class="row">
         <div class="col-lg-4">
            <h4>Single toggle</h4>
            <button type="button" data-toggle="button" aria-pressed="false" class="btn btn-primary">Single toggle</button>
         </div>
         <div class="col-lg-4">
            <h4>Checkbox</h4>
            <div class="btn-group">
               <div data-toggle="buttons" class="btn-group">
                  <label class="btn btn-primary active">
                     <input type="checkbox" checked="" />Checkbox 1</label>
                  <label class="btn btn-primary">
                     <input type="checkbox" />Checkbox 2</label>
                  <label class="btn btn-primary">
                     <input type="checkbox" />Checkbox 3</label>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <h4>Radio</h4>
            <div data-toggle="buttons" class="btn-group">
               <label class="btn btn-primary active">
                  <input id="option1" type="radio" name="options" checked="" />Radio 1</label>
               <label class="btn btn-primary">
                  <input id="option2" type="radio" name="options" />Radio 2</label>
               <label class="btn btn-primary">
                  <input id="option3" type="radio" name="options" />Radio 3</label>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Pagination</h3>
   </div>
   <div class="panel-body">
      <!-- START row-->
      <div class="row">
         <div class="col-lg-6">
            <div>
               <h4>Sizes</h4>
               <nav>
                  <ul class="pagination pagination-lg m0">
                     <li>
                        <a href="#" aria-label="Previous">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>
                     <li class="active"><a href="#">1</a>
                     </li>
                     <li><a href="#">2</a>
                     </li>
                     <li><a href="#">3</a>
                     </li>
                     <li><a href="#">4</a>
                     </li>
                     <li><a href="#">5</a>
                     </li>
                     <li>
                        <a href="#" aria-label="Next">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
               <nav>
                  <ul class="pagination m0">
                     <li>
                        <a href="#" aria-label="Previous">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>
                     <li><a href="#">1</a>
                     </li>
                     <li><a href="#">2</a>
                     </li>
                     <li class="active"><a href="#">3</a>
                     </li>
                     <li><a href="#">4</a>
                     </li>
                     <li><a href="#">5</a>
                     </li>
                     <li>
                        <a href="#" aria-label="Next">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
               <nav>
                  <ul class="pagination pagination-sm m0">
                     <li>
                        <a href="#" aria-label="Previous">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>
                     <li><a href="#">1</a>
                     </li>
                     <li><a href="#">2</a>
                     </li>
                     <li><a href="#">3</a>
                     </li>
                     <li><a href="#">4</a>
                     </li>
                     <li class="active"><a href="#">5</a>
                     </li>
                     <li>
                        <a href="#" aria-label="Next">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <div class="col-lg-6">
            <h4>Pager</h4>
            <nav>
               <ul class="pager">
                  <li class="previous">
                     <a href="#">
                        <span aria-hidden="true">&larr;</span>Older</a>
                  </li>
                  <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a>
                  </li>
               </ul>
            </nav>
            <nav>
               <ul class="pager">
                  <li><a href="#">Previous</a>
                  </li>
                  <li><a href="#">Next</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
      <!-- END row-->
   </div>
</div>
<!-- END panel-->


<h3>Panels
   <small>Panels can contain almost any kind of element inside</small>
</h3>
<div class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemo1" class="panel panel-default">
            <div class="panel-heading">Collapsible Panel
               <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                  <em class="fa fa-plus"></em>
               </a>
            </div>
            <div class="panel-wrapper">
               <div class="panel-body">
                  <p>Panel can be collapsed clicking on the chevron up/down icon on the top right corner</p>
               </div>
               <div class="panel-footer">Panel Footer</div>
            </div>
         </div>
         <!-- END panel-->
      </div>
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemo3" class="panel panel-default panel-demo">
            <div class="panel-heading">Initially collapsed Panel
               <a href="#" data-tool="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
                  <em class="fa fa-times"></em>
               </a>
               <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="Collapse Panel" class="pull-right">
                  <em class="fa fa-plus"></em>
               </a>
            </div>
            <!-- .panel-wrapper is the element to be collapsed-->
            <div class="panel-wrapper">
               <div class="panel-body">
                  <p>Initially collapsed panel</p>
               </div>
               <div class="panel-footer">Panel Footer</div>
            </div>
         </div>
         <!-- END panel-->
      </div>
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemo2" class="panel panel-default panel-demo">
            <div class="panel-heading">Dismissable Panel
               <a href="#" data-tool="panel-dismiss" data-toggle="tooltip" title="Close Panel" class="pull-right">
                  <em class="fa fa-times"></em>
               </a>
            </div>
            <div class="panel-body">
               <p>Panel can be dismissed by clicking on the cross icon icon on the top right corner</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
   <h4 class="page-header">Panel Refresh</h4>
   <!-- START row-->
   <div class="row">
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemoRefresh1" class="panel panel-default panel-demo">
            <div class="panel-heading">Standard Spinner
               <a href="#" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Panel" data-spinner="standard" class="pull-right">
                  <em class="fa fa-refresh"></em>
               </a>
            </div>
            <div class="panel-body">
               <p>Click on the refresh icon to see how it triggers a refresh-event while it shows a spinner</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemoRefresh2" class="panel panel-default panel-demo">
            <div class="panel-heading">Custom Spinner
               <a href="#" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Panel" data-spinner="traditional" class="pull-right">
                  <em class="fa fa-refresh"></em>
               </a>
            </div>
            <div class="panel-body">
               <p>Click on the refresh icon to see how it triggers a refresh-event while it shows a spinner</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
      <div class="col-lg-4">
         <!-- START panel-->
         <div id="panelDemoRefresh3" class="panel panel-default panel-demo">
            <div class="panel-heading">Another Spinner
               <a href="#" data-tool="panel-refresh" data-toggle="tooltip" title="Refresh Panel" data-spinner="line back-and-forth grow" class="pull-right">
                  <em class="fa fa-refresh"></em>
               </a>
            </div>
            <div class="panel-body">
               <p>See the list of allowed spinner at the Spinners page. A real use example is at the chart page.</p>
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->

</div>
<h4 class="page-header">Panel Styles</h4>
<!-- START row-->
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo7" class="panel panel-default">
         <div class="panel-heading">Default Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo8" class="panel panel-primary">
         <div class="panel-heading">Primary Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo9" class="panel panel-success">
         <div class="panel-heading">Success Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo10" class="panel panel-info">
         <div class="panel-heading">Info Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo11" class="panel panel-warning">
         <div class="panel-heading">Warning Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
   <div class="col-lg-4">
      <!-- START panel-->
      <div id="panelDemo12" class="panel panel-danger">
         <div class="panel-heading">Danger Panel</div>
         <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
         </div>
         <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-lg-12">
      <!-- START panel-->
      <div id="panelDemo13" class="panel panel-default">
         <div class="panel-heading">Collapsible Accordion Panel Group</div>
         <div class="panel-body">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
               <div class="panel panel-default">
                  <div id="headingOne" role="tab" class="panel-heading">
                     <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">          Collapsible Group Item #1        </a>
                     </h4>
                  </div>
                  <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                     <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.</div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div id="headingTwo" role="tab" class="panel-heading">
                     <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">          Collapsible Group Item #2        </a>
                     </h4>
                  </div>
                  <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                     <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.</div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div id="headingThree" role="tab" class="panel-heading">
                     <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">          Collapsible Group Item #3        </a>
                     </h4>
                  </div>
                  <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                     <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-lg-12">
      <!-- START panel-->
      <div id="panelDemo14" class="panel panel-default">
         <div class="panel-heading">Basic Tabs</div>
         <div class="panel-body">
            <div role="tabpanel">
               <!-- Nav tabs-->
               <ul role="tablist" class="nav nav-tabs">
                  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
                  </li>
                  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                  </li>
                  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                  </li>
                  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                  </li>
               </ul>
               <!-- Tab panes-->
               <div class="tab-content">
                  <div id="home" role="tabpanel" class="tab-pane active">Suspendisse velit erat, vulputate sit amet feugiat a, lobortis nec felis.</div>
                  <div id="profile" role="tabpanel" class="tab-pane">Integer lobortis commodo auctor.</div>
                  <div id="messages" role="tabpanel" class="tab-pane">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                  <div id="settings" role="tabpanel" class="tab-pane">Sed commodo tellus ut mi tristique pharetra.</div>
               </div>
            </div>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-lg-4">
      <div class="well">
         <h4>Normal Well</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="well well-lg">
         <h4>Large Well</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
   </div>
   <div class="col-lg-4">
      <div class="well well-sm">
         <h4>Small Well</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
      </div>
   </div>
</div>
<!-- END row-->
<!-- START row-->
<div class="row">
   <div class="col-lg-12">
      <div class="jumbotron">
         <h1>Jumbotron</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing.</p>
         <p><a role="button" class="btn btn-primary btn-lg">Learn more</a>
         </p>
      </div>
   </div>
</div>
<!-- END row-->
